<ion-view title="ENTRAR" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" ui-sref="meuBusO()">
        <img src="img/8ccqxBkQ2SIueuOyelZo_facebook_circle-512.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <a style="display:block;" ui-sref="meuBusO()">
        <img src="img/aBBQj56QCugG5c3riLHz_google-icon.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <form id="eNTRAR-form1" class="list">
      <label class="item item-input" id="eNTRAR-input1">
        <input type="text" placeholder="Emal">
      </label>
    </form>
    <div class="spacer" style="height: 30px;"></div>
    <form id="eNTRAR-form2" class="list">
      <label class="item item-input" id="eNTRAR-input2">
        <input type="text" placeholder="Senha">
      </label>
    </form>
    <div id="eNTRAR-button-bar1" class="button-bar">
      <button id="eNTRAR-button5" class="button button-light button-block"></button>
      <a ui-sref="meuBusO()" id="eNTRAR-button6" style="color:#F3E48F;font-size:25px;border-radius:250px 250px 250px 250px;" class="button button-balanced button-block">Entrar</a>
      <button id="eNTRAR-button7" class="button button-light button-block"></button>
    </div>
  </ion-content>
</ion-view>