<ion-view title="Meu Busão - GPS" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/KuKpIldkS38w8xEfXX8W_download.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="meuBusO()" id="meuBusOGPS2-button15" style="font-weight:600;color:#F0E823;font-size:25px;border-radius:250px 250px 250px 250px;" class="button button-balanced button-block">Início</a>
  </ion-content>
</ion-view>