<ion-view title="Meu Busão" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="meuBusO-heading1" style="color:#000000;">R$ 438,22</h1>
    <div id="meuBusO-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ultima recarga:
        <br>16/05/2019</p>
    </div>
    <div id="meuBusO-container1">
      <div id="meuBusO-container2">
        <ion-list id="meuBusO-list3">
          <ion-item class="item-divider" id="meuBusO-list-item-divider2"> 07/06/2019 20:33 Sentido Ibirapuera</ion-item>
          <ion-item class="item-divider" id="meuBusO-list-item-divider3"> 07/06/2019 05:28 Sentido Centenário</ion-item>
          <ion-item class="item-divider" id="meuBusO-list-item-divider4"> 05/06/2019 20:01 Sentido Sé</ion-item>
          <ion-item class="item-divider" id="meuBusO-list-item-divider1"> 05/06/2019 5:36 Sentido Centro</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="spacer" style="height: 140px;"></div>
    <div id="meuBusO-button-bar2" class="button-bar">
      <a ui-sref="recarregar()" id="meuBusO-button11" style="font-weight:600;color:#F0E70E;font-size:25px;" class="button button-balanced button-block">Recarga</a>
      <a ui-sref="meuBusOGPS()" id="meuBusO-button13" style="font-weight:600;color:#F8D856;font-size:25px;border-radius:0px 0px 0px 0px;" class="button button-balanced button-block">GPS</a>
    </div>
    <a ui-sref="recarregar2()" id="meuBusO-button18" style="font-weight:600;color:#F5F54D;font-size:25px;border-radius:25px 25px 25px 25px;" class="button button-balanced button-block">Gerar Passagem</a>
  </ion-content>
</ion-view>