<ion-view title="Meu Busão - GPS" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <form id="meuBusOGPS-form3" class="list">
      <label class="item item-input" id="meuBusOGPS-input3">
        <input type="text" placeholder="Digite o numero da Linha">
      </label>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="meuBusOGPS2()" id="meuBusOGPS-button14" style="font-weight:600;color:#FAF107;font-size:25px;border-radius:250px 250px 250px 250px;" class="button button-balanced button-block">Buscar</a>
  </ion-content>
</ion-view>