<ion-view title="Recarregar" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="recarregar-form4" class="list">
      <label class="item item-select" id="recarregar-select1">
        <span class="input-label">Pagamento</span>
        <select>
          <option>Boleto</option>
          <option>Cartão de Credito xxxx52</option>
          <option>Cartão de Credito xxxx38</option>
          <option>Cartão de Debito xxxx38</option>
        </select>
      </label>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="recarregar2()" id="recarregar-button16" style="font-weight:600;color:#FAE96C;font-size:25px;border-radius:250px 250px 250px 250px;" class="button button-balanced button-block">Gerar</a>
  </ion-content>
</ion-view>